:root {
    --footer-height: 1.5rem;
    --footer-y-padding: 0.5rem;
    --footer-real-height:calc( var(--footer-y-padding) * 2 + var(--footer-height));
}
html, body {
    min-height: 100vh;
    margin:0;
    padding: 0;
    overflow: auto;
}
body {
    font-family: sans-serif;
    position: relative;
}
/* boss info */
.content-root {
    padding:0 1rem;
    margin-bottom:var(--footer-real-height);
}
.boss-container {
    margin-top:1.75rem;
}
.boss-head-container {
    background-color: rgba(0,0,0,0.65);
    color:#fff;
    margin: 0;
    padding: .75rem 1.5rem;
    font-size:1.75rem;
}
.boss-easy {
    background-color: #beefbe;
}
.boss-middle {
    background-color: #efefbe;
}
.boss-hard {
    background-color: #efbebebe;
}
.boss-only {
    background-color: #cecece;
}
.boss-content-container {
    padding:1.5rem;
    padding-top:0rem;
}
.prop-switch {
    border-radius:0.25rem;
    padding: 0.25rem;
    color:#fff;
}
.prop-sleep {
    background-color: darkolivegreen;
}
.prop-knockback {
    background-color: darkred;
}
.prop-ice {
    background-color: darkslateblue;
}
.prop-switch-highlight {
    font-weight: bold;
}
/* nav */
nav {
    padding: .75rem 1rem 0 1rem;
}
nav > a {
    margin-right:1.5rem;
    text-decoration: none;
    display:inline-block;
    font-size:1.6rem;
    background-color: purple;
    color:#fff;
    padding:.6rem 1.25rem;
    margin-bottom: .8rem;
}
nav > a:hover {
    background-color: gray;
}
/* material index */
.material-index {
    display: grid;
    grid-template: 1fr auto / repeat(5, calc(20% - 1px));
    font-size:1.15rem;
    max-width:800px;
    margin:1.6rem 1.2rem;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    padding: 1px 0 1px 1px;
    background-color: #ccc;
}
.hidden {
    display: none;
}
.material-index-header, .material-index-content {
    justify-content: center;
    word-wrap: break-word;
    padding: .2rem .3rem;
    box-sizing: border-box;
}
.material-index-header {
    color: #fff;
}
/*---- Material Index, but COLORS */
.material-index-header-lv1 {
    background-color: #303030;
 }
.material-index-header-lv2 {
    background-color: darkgreen;
 }
.material-index-header-lv3 {
    background-color: darkred;
 }
.material-index-header-lv4 {
    background-color: #655500;
 }
.material-index-header-lv5 {
    background-color: darkviolet;
 }
 .material-index-lv1 {
     background-color: whitesmoke;
 }
 .material-index-lv2 {
     background-color: palegreen;
 }
 .material-index-lv3 {
     background-color: lightsalmon;
 }
 .material-index-lv4 {
     background-color: gold;
 }
 .material-index-lv5 {
     background-color: violet;
 }
 .material-index-content > img {
     max-width: 100%;
 }
 /*language*/
 .lang {
     position: fixed;
     bottom:0;right:0;
     padding: .5rem 0;
 }
 .lang a {
     background-color: #9dc9ff;
     color:#000;
     text-decoration: none;
     font-size:1.25rem;
     padding:.5rem .75rem;
 }
 .lang a:hover{
     background-color: #000;
     color:#ccc;
 }
 /* footer */
 .footer {
     position: absolute;
     bottom:0;left:0;right:0;
     height:var(--footer-height);
     padding:var(--footer-y-padding) .75rem;
 }
 .footer a {
    margin-left: .4rem;
    text-decoration: none;
    font-size: 1.25rem;
    background-color: #c0c0c0;
    padding: .25rem .8rem;
    color: #202540;
 }
 .footer a:hover, .footer a:focus {
     border:3px solid #909090;
 }