body {
    display:grid;
    grid-template-columns: 20rem 1fr;
    grid-template-rows:auto;
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer";
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* title is content */
header {
    grid-area:header;
    font-family: "Comic Sans MS";
}
content {
    grid-area:content;
}
footer {
    grid-area:footer;
}
/* common */
a {
    text-decoration: none;
}
::marker {
    content:"";
}
/* dark/light theme */
body.dark, .dark dialog {
    background-color: #101010;
    color:#fff;
}
input {
    background-color: #eaf8ff;
    color:#252525;
}
.dark input
{
    background-color: #181b55;
    color:#d9faff;
}
input[type=text], input[type=number] {
    border:2px solid #8d8ae9;
}
input[type=text]:focus, input[type=number]:focus {
    background-color:#e3d5ff;
    font-weight: bold;
}
.dark input[type=text], .dark input[type=number] {
    border:2px solid #a597d8;
}
.dark input[type=text]:focus, .dark input[type=number]:focus {
    background-color:#006478;
}
.close-container {
    text-align: center;
}
.close {
    font-size: 1.24rem;
    padding: .3rem .8rem;
    border: 2px solid #91a1ed;
    color: #39407c;
    background-color: #dbeeff;
    cursor: pointer;
}
.dark .close {
    border-color: #2e3e87;
    color: #ccd0f5;
    background-color: #192356;
}
.close:hover, .close:active, .close:focus {
    border-color: #7e6ddb;
    color: #0c134a;
    background-color: #79b8ed;
}
.dark .close:hover, .dark .close:active, .dark .close:focus {
    border-color: #6f7cb9;
    color: #d2d4e5;
    background-color: #34438f;
}
/* menu */
menu {
    padding-left: 0.75rem;
    margin-right: 2rem;
}
menu > li {
    background-color:#f3f3f3;
}
menu > li > p {
    font-weight: 500;
    margin: 0;
    padding: .4rem .5rem .4rem 2rem;
    font-size: 1.2rem;
    background-color: #cdccff;
    border-bottom: 2px solid #a5acff;
}
.dark menu > li > p {
    background-color: #32316a;
    border-bottom: 2px solid #5e7e9f;
}
.dark menu > li {
    background-color:#2a2a2a;
}
menu a {
    display: inline-block;
    width:100%;
    font-size:1.1rem;
    color:#460095;
    padding: .2rem .2rem .2rem .8rem;
    box-sizing: border-box;
}
menu a:hover, menu a:focus {
    color: #0d469d;
    font-weight: bold;
    background-color: #e6f0ff;
    border-bottom:2px solid #769de5;
}
menu ul {
    padding-left: 0;
    margin-top:0;
}

.dark menu a {
    color: #dbbbff;
}
.dark menu a:hover, .dark menu a:focus {
    color: #d0e9ff;
    background-color: #3563b9;
    border-bottom:2px solid #7c8587;
}
/*title, content */
.content {
    background-color: #e6e9f3;
    border: 1px solid #b9bed9;
    padding: 1.5rem;
}
.content .title {
    background-color:#c6c7e9; 
    color: #283676;
    margin: -1.5rem -1.5rem 0 -1.5rem;
    padding: .5rem .4rem .5rem 2rem;
}
.dark .content {
    background-color: #262626;
    border-color: #353535;
}
.dark .content .title {
    background-color: #24254a;
    color: #cbd4ff;
}
.content ul {
    display: flex;
    column-gap: 3rem;
}
/* header */
.content h3 {
    color: #4f2e9f;
    border-bottom: 1px solid #baa0db;
}
.dark .content h3 {
    color: #f1d2e4;
    border-color: #48485e;
}
dt {
    color:#5c588f;
    font-weight: bold;
    margin: 1.2rem 0 .2rem .6rem;
}
.dark .content dt {
    color: #c6c4e1;
}
/* content link - inherits */
.content .inherit-collection a {
    color: #301fb9;
    font-weight: 600;
    background-color: #b4d8ed;
    padding: .2rem .32rem;
    border: 1px solid #a9abe5;
    white-space: nowrap;
}
.content .inherit-collection a:hover, .content .inherit-collection a:focus,
.content .inherit-collection a:active {
    font-weight: 700;
    color:#952daf;
    background-color: #e8eaff;
    border-width: 3px;
}
.dark .content .inherit-collection a {
    color: #c7c3e7;
    background-color: #3e3164;
    border-color: #4f519b;
}
.dark .content .inherit-collection a:hover, .dark .content .inherit-collection a:focus,
.dark .content .inherit-collection a:active {
    background-color: #1a1a1a;
    color:#eacdf1;
}
/* content link - cs */
.class-skill-list {
    line-height: 2.5rem;
}
.class-skill-list a {
    color: #4b4e5c;
    font-size: 1.1rem;
    font-weight: 600;
    padding: .3rem .75rem;
    background-color: #cadaff;
    white-space: nowrap;
}
.class-skill-list a:hover, .class-skill-list a:active, .class-skill-list a:focus {
    color: #2d45b3;
    font-weight: 700;
    padding: .3rem .75rem;
    background-color: #fcfdff;
    border: 3px solid #acbddd;
}
.dark .class-skill-list a {
    background-color:#1b3060; 
    color:#cfd7f9;
}
.dark .class-skill-list a:hover, .dark .class-skill-list a:active, .dark .class-skill-list a:focus {
    background-color: #060f24;
    color:#a3addd;
    border-color:#113781;
}
.skill-list-column {
    flex-direction: column;
}
.skill-list-group {
    flex-wrap: wrap;
    border: 2px solid #624db32b;
    padding-left: 0.4rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0.1,0.1,0.2,0.1);
}
.skill-list-group::before{
    content: attr(aria-label);
    flex-basis: 100%;
    margin: -1.2rem 0 0 .4em;
    font-size: 1.1rem;
    font-weight: 600;
    font-style: italic;
    color: #2d3f5a;
}
.dark .skill-list-group::before{
    color:#a8cbff;
}
/*cs detail*/
.class-skill {
    padding: .1rem 1.5rem;
    background-color: #f0f0f7;
    border: 1px solid #9eb9e1;
}
.dark .class-skill {
    background-color: #2d2d2f;
    border-color: #423e3e;
}
.type-finder {
    background-color: #e3cfe3;
    border: 1px solid #d6aadb;
    color: #4f0e56;
    padding: .1rem .24rem;
}
.type-finder:hover, .type-finder:active, .type-finder:focus {
    cursor: pointer;
    font-weight: 600;
    background-color: #ffbde2;
    border-width: 3px;
    color: #6e0d43;
}
.dark .type-finder {
    background-color: #563b56;
    border-color: #9f7aa3;
    color:#fcdfff;
}
.dark .type-finder:hover, .dark .type-finder:active, .dark .type-finder:focus {
    background-color: #2a091c;
    color: #ffbde1;
}
/* mark and tip data */
.tip-data mark {
    font-size: 102%;
    padding: .05rem .4rem;
    font-weight: bold;
    background-color: #efe1f1;
    color: #313972;
}
.dark .tip-data mark {
    background-color: #201e28;
    color: #fff;
}
.tip-data mark::before, .tip-data mark::after {
    content: " ";
    border: 2px solid #9d9d9d;
    display: inline-block;
    height: 1.5rem;
    width: .25rem;
    vertical-align: middle;

}
.dark .tip-data mark::before, .dark .tip-data mark::after {
    border-color:#646e93;
}
.tip-data mark::before {
    border-right: none;
    margin-left: -.4rem;
}
.tip-data mark::after {
    border-left: none;
    margin-right: -.4rem;
}
.tip-data img {
    max-width: 300px;
    max-height: 300px;
}
.tip-data a {
    display:inline-block;
}
/*calculator*/
.calc {
    border: 1px solid #b2a2d1;
    padding: .4rem 1.48rem;
    margin-top: 1.24rem;
    background-color: #efebf9;
}
.dark .calc {
    border-color: #48474a;
    background-color: #2b2930;
}
.calc-label-group {
    display: inline-block;
    margin-right: 1.5rem;
}
.calc-label-group .help::after {
    content: "?";
    border-radius: 50%;
    background-color: #741e72;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 2px solid #c66ee3;
    text-align: center;
    line-height: 1;
    color:#efefff;
}
.calc-label-group .help:hover::after {
    color: #6f0470;
    background-color: #dda7ca;
    font-weight: 800;
    cursor: pointer;
}
.calc-result mark {
    background-color: #aad8ff;
    color:#0f0f0f;
    font-weight: 600;
    border-bottom: 2px solid #8eacd1;
}
.dark .calc-result mark {
    background-color: #1e496c;
    border-color:#3a6ead;
    color: #e8f0ff;
}

/*fieldset*/
fieldset {
    margin-top: .8rem;
    border: 1px solid #7d6f99;
    background-color: #e4e5f9;
}
legend {
    background-color: #efefff;
    color: #454545;
    font-style: italic;
}
.dark legend {
    background-color: #392c52;
    color:#d4dce9;
}
.dark fieldset {
    color:#ece3ef;
    border-color:#5b4676;
    background-color:#262738;
}
/*dialog*/
dialog {
    padding: 1rem;
    z-index:3;
    position: fixed;
    top:50px; bottom:50px;
    overflow-y:auto;
    max-width: 80%;
    max-height: calc(100vh - 50px);
}
dialog h1 {
    margin: -1rem -1rem 0 -1rem;
    padding: .5rem 0 .6rem 1.6rem;
    background-color:#c2b3ef;
    color:#181b55;
}
.dark dialog h1 {
    color:#c9a9ef;
    background-color:#28125a;
}
.modal-background {
    position: fixed;
    top:0;left:0;right:0;bottom:0;
    max-height: 100%;
    z-index:2;
    background-color:rgba(0,0,0,0.6);
}
/*skill-result dialog*/
.skill-result details {
    border: 1px solid #a395ef;
    background-color: #f5e7ff;
    padding: 0;
    margin: .6rem 0;
}
.dark .skill-result details {
    border-color: #483a58;
    background-color: #31213c;
}
.skill-result summary {
    background-color: #decbf7;
    margin: 0;
    padding: .4rem .6rem;
    border-bottom: 2px solid #ce8eef;
    font-weight: 500;
    color:#242393;
}
.dark .skill-result summary {
    background-color: #332248;
    border-color: #7f5993;
    color:#a6a6dd;
}
.skill-result summary:hover::before, .skill-result summary:active::before, .skill-result summary:hover::before {
    content: "▶";
    opacity: 0.5;
    margin-right: .5rem;
}
.skill-result ul {
    padding: 0;
    margin: 0;
}
.skill-result li > a {
    padding: .24rem 0 .24rem 1rem;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    color:#000;
}
.dark .skill-result li > a {
    color: #bfacd9
}
.skill-result li a:hover, .skill-result li a:active, .skill-result li a:focus {
    background-color: #d2bdfd;
    font-weight: 600;
}
.dark .skill-result li a:hover, .dark .skill-result li a:active, .dark .skill-result li a:focus {
    background-color: #0e081c;
}
/*footer*/
footer {
    color:#525252;
    text-align: center;
    font-size: 0.9rem;
}
.dark footer {
    color: #999999;
}
/*theme selector*/
.theme-selector {
    z-index:1;
    position: fixed;
    top:0;right:0;
}
.theme-selector button {
    width:3rem; height:3rem;
}
.theme-selector-light {
    background-color: #fff;
    border:2px solid #000;
}
.theme-selector-dark {
    background-color:#000;;
    border:2px solid #fff;
}
@media screen and (max-width:1000px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "menu"
            "content"
            "footer";
    }
    menu ul {
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
    }
    menu a {
        padding: .6rem .8rem;
    }
    .content ul {
        flex-wrap: wrap;
        line-height: 2.5rem;
    }
    .type-finder {
        display: block;
    }
}